[2015-01-06 09:37] jrobeson opened #3 "tag a new release?"
There's been quite some interesting changed since October, so it'd be nice to have a release with them in it.

[2015-01-06 12:05] gordalina commented on #3
Tagged 1.4.0

[2015-01-06 12:05] #3 closed

[2015-01-06 12:15] jrobeson commented on #3
and sadly now i want you to tag another one ! :( i didn't realize that bin/cachetool wasn't installed :)

[2015-01-06 12:20] gordalina commented on #3
Already did, 1.4.1

[2015-01-06 13:14] jrobeson commented on #3
thanks!

[2015-01-07 01:57] jrobeson opened #7 "cachetool via fcgi doesn't work if php-fpm starts with systemd unit set to PrivateTmp=true"
If the php-fpm systemd unit file has PrivateTmp=true and you run cachetool with this:

[code]

then you see this in the logs (snipped to the relevant part):

[code]

[2015-01-07 02:17] gordalina commented on #7
Interesting!
`/dev/shm` or (worse) `/var/run` could be used instead. Can you test if php-fpm with PrivateTmp can read from those directories?

[2015-01-07 02:28] jrobeson commented on #7
they both work

[2015-01-07 02:32] jrobeson commented on #7
as an aside: the visible error you get when this fails (  Primary script unknown  ) was kinda hard to understand. definitely had to open up the fastcgi client code to figure it out.

[2015-01-07 02:37] gordalina commented on #7
Did you add any logging code? Could be useful to have this logged.
I will have a look at this tomorrow, add a input option for the writable directory and as a configuration parameter.

[2015-01-07 02:42] jrobeson commented on #7
i just added a var_dump in ebernhardson/fastcgi

[2015-01-08 01:57] jrobeson commented on #7
is there a reason we can't just use /dev/shm if it exists and fall back to /var/run instead of using /tmp at all?

[2015-01-08 23:46] #7 closed

[2015-01-08 23:48] gordalina commented on #7
Fixed in 1.5.0

[2015-01-08 23:53] jrobeson commented on #7
wow. thanks @gordalina! I really appreciate you taking the time to work so closely with me.

[2015-01-08 23:54] gordalina commented on #7
thanks for your instrumental feedback! are you using it in production?

[2015-01-08 23:59] jrobeson commented on #7
i'm about to. It's part of my ansible playbook for deploying my php application. BTW: i heard about it here: http://www.reddit.com/r/PHP/comments/2l1hx6/cachetool_cli_application_library_to_manage/

[2015-01-09 00:01] gordalina commented on #7
Thanks :) let me know if something doesn't work
On qui, 8/01/2015 at 23:59 Johnny Robeson <notifications@github.com> wrote:

[2015-01-15 10:15] jrobeson opened #9 "cachetool doesn't work out of the box with SELinux"
You get a 404 on the fastgi response because it doesn't have the permission to read the cachetool generated file.

I'm not sure if this is really solvable without changing selinux configuration, but i do wonder if the stdin option of the fastcgi client would fix it.

Can you think of a quick hack to try that out?

[2015-01-15 12:15] gordalina commented on #9
Permissions on the file are already set to `0666`, which should be readable to everyone. Which OS and version are you using?

[2015-01-16 00:22] jrobeson commented on #9
permissions aren't the only concern when using selinux, security contexts are.

I'm using fedora 21 with SELinux turned on, but i imagine this could also be replicated with Centos 7 or Fedora 20.

[2015-01-16 00:55] jrobeson opened #10 "fastcgi finally got tagged as 0.1.0"
You could revert that merging PR if you wanted to and use it as dep again.

[2015-01-16 01:27] gordalina commented on #10
#irony
On sex, 16/01/2015 at 00:55 Johnny Robeson <notifications@github.com> wrote:

[2015-01-16 01:28] gordalina commented on #9
I will have a look this weekend
On sex, 16/01/2015 at 00:22 Johnny Robeson <notifications@github.com> wrote:

[2015-01-18 15:38] gordalina commented on #10
Fixed on 1.7.0

[2015-01-18 15:38] #10 closed

[2015-01-18 16:18] gordalina commented on #9
Yeah, i guess without any custom configuration in selinux, this can't be avoided by cachetool.

[2015-02-02 15:03] gordalina commented on #9
Closing this issue due to inactivity. Have you been able to make it work with SELinux?

[2015-02-02 15:03] #9 closed

[2015-02-02 20:53] jrobeson commented on #9
i've set SELinux to permissive for now, i haven't had had time to deal with it yet.

[2015-02-02 21:00] gordalina commented on #9
Ler me know if you find a fix for it.
On seg, 2/02/2015 at 20:53 Johnny Robeson <notifications@github.com> wrote:

[2015-04-27 15:21] ogarbe opened #12 "opcache:status:scripts"
hello,

we've got servers with a lots of scripts, and opcache:status:scripts can return enormous amount of data, and some of the time, the fastcgi call returns this error :

[code]

with verbose options, we can see the serialized data seems to be truncated à 300k data. We've tried to replace all serialize / unserialize by gzcompress(serialize / unserialize(gzuncompress without success.

Any idea o

[2015-04-27 15:34] gordalina commented on #12
I've had this issue before, what I could find is that the json returned by the server is not valid. I've tried with json instead of serialization and it came back with invalid json.
I wasn't able to find exactly the culprit of this.

[2015-04-28 07:56] ogarbe commented on #12
I've changed the fastcgi client to use Adoy one and it works.

[2015-04-28 16:45] #12 closed

[2015-04-28 16:46] gordalina commented on #12
Bumped version to `1.8.0`

[2015-04-29 08:33] roderik opened #14 "Latest phar file is missing the new FCGI vendor"
We use cachetool in our deploy scripts and since 1.8.0 we have issues with the phar file:

[code]

Seems like the new Adoy classes are not included in the phar file

[2015-04-29 16:28] gordalina commented on #14
Fixed on `1.8.1`

[2015-04-29 16:28] #14 closed

[2015-05-18 11:41] bodiski opened #15 "php-fpm pool"
Hi, is there an easy way to use this with multiple php-fpm servers?

[2015-05-19 18:13] gordalina commented on #15
There is no way to do this, what is your precise use case? It would be ineteresting to have this in cachetool

[2015-05-19 19:06] bodiski commented on #15
We have an nginx server configured with an upstream pool of 6 php-fpm servers listening on [IP]:9001. I'd like to be able to flush opcache on all of them easily.

[2015-05-19 20:38] gordalina commented on #15
Do you have 6 instances of php-fpm or one instance of php-fpm with 6 workers?
If you have 6 instances, are they listening on the same port or not?
If you have one instance with 6 workers, cachetool will affect all of these.

[2015-05-19 21:03] bodiski commented on #15
6 instances of php-fpm (php v5.5) (running on 6 virtual servers/VMs - 1 php-fpm instance on each server)
they're all listening on the same port e.g. 192.168.0.10:9001
The 7th VM runs nginx which is configured to connect to those php-fpm's using this config
[code]
Ideally I'd like to be able to flush opcache from the nginx VM. Maybe cachetool.phar could use a config similar to "upstream backend" on

[2015-05-20 14:18] gordalina commented on #15
Right know cachetool needs to be on the server with php-fpm as it requires it dump the code for execution.

There could be a solution: Where cachetool would be installed in all servers and the master one would execute cachetool to execute commands on these servers by connecting with ssh.

How do you connect to those servers from the nginx VM?

[2015-05-20 16:58] bodiski commented on #15
Yeah, I ended up writing a small shell script that connects to all those VMs via ssh and runs
[code]
```opcache:status``` works fine on all of them.

The problem I'm having right now is when I try to ```opcache:reset``` in production most of the time the opcache gets disabled and it's state is Restart pending = Yes. Sometimes, very rarely the reset works. **Any ideas why?**

This is what I get on

[2015-05-21 17:22] gordalina commented on #15
That looks like a opcache issue, not really sure what is it though.

[2015-05-25 22:38] gordalina commented on #15
Closing this issue, feel free to reopen if you have anything else new.

[2015-05-25 22:38] #15 closed

[2015-05-31 16:11] Seldaek opened #17 "Try socket and tcp by default"
It'd be great if by default cachetool would attempt a connection on 127.0.0.1:9000 (as it does now) but if that fails also attempt `/var/run/php5-fpm.sock` before giving up.

[2015-06-01 10:15] gordalina commented on #17
I like it, great idea! :smile:
I'll implement it when i get some time for it.

[2016-01-25 16:49] mbrodala opened #21 "Support for FCGIWrapper?"
Is it possible to also support setups which use `FCGIWrapper` to invoke PHP? There is obviously no process like FPM running here which could receive Opcache reset requests.

[2016-01-25 18:12] gordalina commented on #21
I'm not sure if it is possible, but if you submit a PR, i see no reason not to accept it.

[2016-01-26 08:03] mbrodala commented on #21
@gordalina I'd happily make a PR if I had an idea how to solve this. With this setup there is no way to cross the boundary of the CLI SAPI.

So I guess the only option here is the usual workaround where a random file is created in the web root with a `opcache_reset()` call and request this file from CLI via HTTP.

Unless you have a better idea I'll close this one.

[2016-01-26 08:08] gordalina commented on #21
what's your exact use case? apache2 with mod_fcgi?
maybe if you expose fcgiwrapper through a socket, you can pass the path to cachetool so it connects as a regular fcgi client

[2016-01-26 08:38] mbrodala commented on #21
@gordalina Unfortunately I'm not sure about how this setup was made. It looks like `mod_fcgid` (mind the `d`) is currently used and I'm not sure where to find the socket in use. With `lsof` I can find this:

    php5-cgi  32581       <username>    0u     unix 0xffff88023555a440       0t0    5271086 /var/lib/apache2/fcgid/sock/57741.60

However, the permissions of that socket file are rather strict

[2016-01-26 19:24] gordalina commented on #21
if you run `cachetool` as `www-data` you'd be able to access the socket, can you try that?
`php cachetool.phar opcache:status --fcgi=/var/lib/apache2/fcgid/sock/57741.60`

[2016-01-27 08:24] mbrodala commented on #21
This works indeed but requires `sudo`. And the socket file apparently changes from time to time so I'd have to detect it as mentioned with `lsof`.

All in all not really a useful solution from my POV for this setup. It'll most likely be switched to regular PHP-FPM soon so this shouldn't be an issue anymore.

But I'll keep the solution in my head in case I encounter it again, thanks a lot!

[2016-01-27 08:24] #21 closed

[2016-02-16 13:41] mbrodala opened #22 "Opcache errors after deployment with symlink switch"
Even though we are invoking the cachetool during deployment to reset the PHP opcode cache, we encounter internal server errors after the symlink switch to the new release. The error disappears after a short while.

To verify that everything is basically working correct we have also put `opcache:status` before and after `opcache:reset`:

[code]

While I'm not sure about the memory and string usage,

[2016-02-16 21:09] gordalina commented on #22
Are you resetting the cache after symlinking? Can you post the deploy script (a slimmed down version).

[2016-02-17 08:16] mbrodala commented on #22
Yes, the reset happens after the symlink switch. But we also tried before and even after the switch at the same time to no avail.

We are using [Rocketeer](http://rocketeer.autopergamene.eu/) for deployment so there is not really a "script", only a configuration and a set of tasks which are run at specific stages during the deployment.

We've hooked the Opcache reset directly after the symlink swi

[2016-02-17 21:20] gordalina commented on #22
Try clearing the realpath cache before or after the opcache reset:
`cachetool stat:clear`

[2016-02-18 08:53] mbrodala commented on #22
@gordalina Didn't think of that, thanks I'll give it a try.

[2016-02-18 09:38] mbrodala commented on #22
No luck, still getting errors after deployment. :-X

[2016-02-18 18:39] gordalina commented on #22
That looks like a very specific error, did you [these solutions](http://stackoverflow.com/questions/2247977/what-does-zend-mm-heap-corrupted-mean)

[2016-02-19 08:18] mbrodala commented on #22
@gordalina I've also searched for this and saw the same suggestions but I fear none of them will help.

As for `USE_ZEND_ALLOC=0` [the manual](http://php.net/manual/en/internals2.memory.management.php) says this:

This sounds more like a debugging measure and I'm not sure if this is something one wants in a production environment...

[2016-02-19 19:36] gordalina commented on #22
Did you try reloading php-fpm after cachetool? It restarts the workers a gracefully.

[2016-02-22 08:36] mbrodala commented on #22
This would be one of the remaining options which I tried to avoid due to requiring `sudo`. So far [mod_realdoc](https://github.com/etsy/mod_realdoc) also doesn't see to yield the expected results.

Do you mean that there will be no downtime when restarting PHP-FPM?

[2016-02-22 19:12] gordalina commented on #22
Have a look [here](http://stackoverflow.com/a/16894074)

[2016-02-23 08:33] mbrodala commented on #22
@gordalina Thanks, so this is about `reload` vs. `restart`. Seems like it [isn't that graceful](https://bugs.php.net/bug.php?id=60961) either and the SO comment only mentions APC so I'm not sure about the Opcache behavior here.

[2016-02-23 19:00] gordalina commented on #22
Not sure if I can be of further assistance. I'm closing this issue.
Feel free to reopen any time, or post a comment if you've found a solution.

[2016-02-23 19:00] #22 closed

[2016-02-24 08:00] mbrodala commented on #22
@gordalina Thanks already for taking time to give me pointers here. I now went with PHP-FPM restart and so far it looks OK-ish in 90% of the deployments. I still saw an error once but I'll keep watching.

[2016-03-18 15:09] Jalle19 opened #23 "Dependency conflict due to Symfony v2.x"
This package can't be installed in any project that uses Symfony 3.x packages. I suggest you bump the Symfony component dependencies to `~3.0`.

Reference:

[code]

[2016-03-18 19:01] #23 closed

[2016-04-14 20:12] royallthefourth opened #25 "Update self-update binary to latest version"
The [cachetool download URL](http://gordalina.github.io/cachetool/downloads/cachetool.phar) is still serving version 1.10.0.

When I use the selfupdate command, cachetool reports that it is already up to date even though 2.0.0 has been released.

[2016-04-15 09:08] gordalina commented on #25
I've published `2.0.1`, you should be able to update.

[2016-04-15 09:08] #25 closed

[2016-04-18 00:00] mc0e opened #26 "The helper "table" is not defined"
With a recent version of cachetool (2.0.1) I get this error:

    $  /home/andrewmcnaughton/bin/cachetool.phar opcache:status

      [Symfony\Component\Console\Exception\InvalidArgumentException]
      The helper "table" is not defined.

    opcache:status

I've got an old 1.10.0 version of cachetool which runs fine on the same system without showing the error.

http://symfony.com/doc/current/comp

[2016-04-19 07:43] Falc commented on #26
I got the same error yesterday. It is an easy pick so I've opened a pull request that fixes it.

[2016-04-19 11:36] Kevinrob opened #28 "`PHP Fatal error` with config file in `/etc/cachetool.yml`"
Thank you for this very useful tool!

I have an error when I try to use a configuration file in `/etc/cachetool.yml`. Is it a bug?

[code]

The content of `/etc/cachetool.yml`:
[code]

[2016-04-19 12:48] nexusVI commented on #28
I encountered the same problem today, location of the file does not matter for me (reproducable with .cachetool.yml in current directory).

[2016-04-28 15:47] fyrye opened #30 "ApcProxy::apc_add functionality is incorrect"
Since `apc_add` and `apc_store` can accept a string or array for the key, when a string is supplied a var must also be applied, otherwise when key is an array it is handled as a key:var paired array

`$cache->apc_add('Hello', 'World');` results in an exception being thrown.

[code]
should be something like

[code]
reference: http://php.net/manual/en/function.apcu-add.php

[2016-04-28 17:12] gordalina commented on #30
Very nice work debugging this, can you submit a pull request for this change?

[2016-04-28 17:12] #26 closed

[2016-04-28 17:20] gordalina commented on #28
Try using the latest version: `2.0.3`

[2016-04-28 19:38] #30 closed

[2016-04-28 20:46] fyrye opened #32 "1.x branch and Symfony 2"
Any way to create a 1.x branch or create a 1.10.1 tag for the fixes to v1?

I'm stuck with Symfony >= 2.5 components for my application, so would be nice to continue support for Symfony 2.x.
Not sure what specific Symfony 3 portions your library uses, so may only need to update composer since the Table Helper was depreciated in 2.5 and removed from the console as a separate component in 3.0.

Foll

[2016-04-29 06:45] Kevinrob commented on #28
Ho... I thing that I have the last version with `cachetool selfupdate` command! Just seeing that my version was not going up to version 2. Maybe adding an `upgrade` command?
Thanks!

[2016-04-29 06:45] #28 closed

[2016-05-02 09:06] Maksold opened #33 "Unknown: open_basedir restriction in effect"
When i run `cachetool opcache:status --fcgi=/var/run/php-fpm.sock`, it returns error:

`
  [RuntimeException]
  Error: PHP message: PHP Warning:  Unknown: open_basedir restriction in effect. File(/dev/shm/cachetool-572717ff2f3de.php) is not within the allowed path(s): (/var/www/:/tmp) in Unknown on line 0
  PHP message: PHP Warning:  Unknown: failed to open stream: Operation not permitted in Unkno

[2016-05-02 09:08] Maksold commented on #33
There is necessary to add `--tmp-dir=/var/www/` E.g. `cachetool opcache:status --fcgi=/var/run/php-fpm.sock --tmp-dir=/var/www/`

[2016-05-02 09:08] #33 closed

[2016-05-13 16:35] gordalina commented on #32
i've created a branch for `1.x` and keep updates on the `1.x` release as much as possible

[2016-05-13 16:35] #32 closed

[2016-05-23 02:24] fyrye commented on #32
Awesome thank you!

[2016-06-02 16:32] damienalexandre commented on #17
It could also then fallback on `/var/run/php-fpm.sock` or `/run/php/php7.0-fpm.sock`. There is some really common socket names the guesser could try.

[2016-06-02 16:38] Seldaek commented on #17
Yeah basically `glob('/var/run/php*.sock')` :) We need someone to implement this though :wink:

[2016-06-03 12:20] damienalexandre opened #37 "Cache info compatibility with APCu"
From what I read in the code, this tool is not compatible with APCu.

### Env

- PHP Version 7.0.7
- APC Compatibility	1.0.3
- APCu Version 5.1.4
- cachetool 2.0.6 (because I use Symfony 2) but master have the same issue

### The issue

The `apc:cache:info` command fails:

[code]

This is because this statement return null:

[code]

I'm not sure why exactly but the fact is that signatures for this

[2016-06-03 12:28] damienalexandre commented on #37
Ok blames on me, there is already a nice PR about this: https://github.com/gordalina/cachetool/pull/36

[2016-06-03 12:28] #37 closed

[2016-06-23 09:30] mbrodala opened #39 "Maintain a changelog"
It would be really nice if there was a changelog in this repository, either as separate file or in the README. As usual, `git log` output doesn't count. ;-)

[2016-07-25 18:23] vincentdesmares commented on #37
Someone should open again this PR as the fix of #36 did not solve the issue. I downloaded the 2.1.0 and the bug is still there.

TypeError: Argument 1 passed to CacheTool\Command\ApcCacheInfoCommand::normalize() must be of the type array, null given, called in phar:///vagrant/cachetool.phar/src/CacheTool/Command/ApcCacheInfoCommand.php on line 61 in phar:///vagrant/cachetool.phar/src/CacheTool/Com

[2016-07-25 18:26] damienalexandre commented on #37
With the changes in #36 you have to call `apcu:cache:info` for it to work, and not `apc:cache:info` as I assume you did?

[2016-07-26 08:48] brunoMaurice opened #40 "Apc info fail with php7"
Hi,

The "apc:cache:info" options fail with php-fpm 7.0:

[code]

[2016-10-19 14:16] floplus opened #41 "Syntax Error with php 5.4"
Hi,

despite of saying that it requires PHP 5.3 it does not work with PHP 5.4, PHP 5.5 is okay.
Perhaps this should be updated in the Readme and on the website. Or is there a version that does still work with PHP 5.4/5.3?

[code]

[2016-10-25 08:42] bikong0411 opened #42 "PHP Fatal error: Unknown: Failed opening required in Unknown on line 0"
hello,   when i use cachetools reset opcache in php7 environoment ，sometimes i got a php-error:

[code]

i use codeigniter web framework, can you help me solve this problem?

opcache last restart time:

| Last restart time    | Tue, 25 Oct 2016 16:20:45 +0000 |

opcache setting:

[code]

[2016-11-18 09:06] neoascetic opened #43 "Send commands in batch to reduce overhead?"

[2016-12-06 23:05] viktor-zhuromskyy opened #44 "Connect to remote host"
Very nice tool you've created!

It works just fine on localhost, where I am running PHP7-FPM, but when I try to connect to remote host, the script assumes local shm, and if I run a command like this `./cachetool.phar --fcgi=www2:9001 opcache:invalidate:scripts /var/data/gfs/www/magento/`, it throws exceptions of such kind:

Can you look into possibility to execute

[2016-12-06 23:15] devdesco-ceo commented on #44
I guess I found a workaround. I have several application servers with NFS mounted in the same location, so I added `--tmp-dir` to command line, in order to save temporary file not in `shm` but on a file system, and all works perfect.

Thank you again for making this wonderful script available.

[2016-12-15 01:11] szepeviktor commented on #40
There is no APC extension for PHP7
http://php.net/manual/en/intro.apc.php

[2016-12-15 01:12] szepeviktor commented on #41
Maybe this is cause https://github.com/gordalina/cachetool/blob/master/composer.json#L6

[2016-12-15 01:19] szepeviktor commented on #41
`finally` may be not part of your PHP version:
https://github.com/symfony/dependency-injection/blob/4b9645f5870e0b4ab35cc5b528422049946e8bec/Container.php#L280

symfony/dependency-injection is also for >=5.5.9

[2016-12-15 01:20] szepeviktor commented on #41
You may try issuing `composer install`, hacking a bit with the code and rebuilding the phar.

[2016-12-15 01:26] szepeviktor commented on #44
From the readme

Try an IP address.

[2017-01-05 10:06] xocasdashdash opened #45 "Prime the opcode cache"
Hi!
I saw there's support for the opcode_compile_file function on the opcache adapter, but there's no real command defined that gives you that functionality. Is there any reason for this? I'm thinking of extending this repo to add that command.

Are you open to a PR about this?

Regards,
Joaquín

[2017-02-22 10:39] rndmh3ro commented on #41
I've got the same problem using php:
[code]

and downloading the cachetool-binary from github like mentioned in the docs.

[code]

[2017-02-22 10:43] mablae commented on #41
@rndmh3ro Looks like an unrelated issue. I would open a new issue for that.

[2017-02-22 10:47] rndmh3ro opened #47 "PHP syntax error on centos 7 with php 7 running cachetool"
I've got a problem running cachetool using php7:
[code]

OS is centos 7.

I am downloading the cachetool-binary from github like mentioned in the docs.

[code]

Migrated from #41

[2017-02-23 10:38] mhauri opened #48 "Can't install version 2.1.0 as composer dependency"
If I try to install "gordalina/cachetool": "2.1.0" as required dependency in composer the package can't be found.

Composer stops at: Resolving dependencies through SAT

If I try it with "gordalina/cachetool": "*" it downloads only version 1.11.0

[2017-03-17 12:29] EugenMayer opened #50 "Simple as is: thank you!"
Wonderful too for production and devops, thank you very much for taking so much effort into this!

[2017-03-17 12:52] jalogut commented on #48
Same problem here.
In case that it helps to fix the problem. I once faced something similar in one of my projects. I changed the composer package name and then composer did not find it anymore. I do not know if it is the same problem but in my case I needed to remove and add again the package into Packagist.org.
Opening an issue into composer/packagist might also help. They are quite fast replying

[2017-04-06 09:45] Grummfy commented on #47
cf #49 ?

[2017-04-06 09:45] Grummfy commented on #40
cf #49 ?

[2017-04-12 11:54] MikeSorokin opened #51 "Using ApcIterator instead of loading all cache_info into memory"
Hello!
Did you consider switching from [apc_cache_info](https://github.com/gordalina/cachetool/blob/master/src/CacheTool/Command/ApcuRegexpDeleteCommand.php#L42) way to [APC[U]Iterator](http://php.net/manual/en/class.apciterator.php) on some commands like `apcu:regexp:delete`. Iterator would allow to significally descrease memory consumption, especially on servers with low php.memory_limit and lar

[2017-04-12 12:10] themightychris commented on #51
It might be because APCIterator is extremely prone to crashing PHP with the version of apcu that ships with Ubuntu 14.04. I've tried for a long time to get them to update it but it doesn't seem to matter what anyone says: https://bugs.launchpad.net/ubuntu/+source/php-apcu/+bug/1374892

Maybe detecting the apcu version and only using the memory intense method for the versions < 4.0.6 is in order?

[2017-04-12 12:34] MikeSorokin commented on #51
Well, we probably could use some configurable logic in this case, I suppose. I don`t say - to do checking for version inside tool itself, I mean - to use config options for this.
Also - is this the only reason to not use Iterator at all?

[2017-04-15 11:11] sebastien-fauvel opened #53 "Restore apcu compatibility when storing NULL"
Storing `NULL` values is a value use case for apcu:
[code]
However, the `ApcuProxy` is throwing an exception in this case, which breaks the compatibility with the underlying function we are proxying to:
[code]
It might make sense to throw an exception in a different use case, when `$key` is an array of key-value pairs and `$val` is ignored:
[code]
But even in this case, I don't think it is the rol

[2017-04-15 11:45] themightychris commented on #51
AFAIK yes, that's the only reason not to use the iterator

[2017-07-28 12:31] syphernl opened #58 "Not in white list. Check listen.allowed_clients"
We use cachetool in our (automated) deploys. Once in a while this fails with a RuntimeException
[code]

It would be nice if cachetool could deal with this more gracefully (e.g. try again a few times and exit) instead of throwing an exception.

This happens on Ubuntu 16.04 + PHP 7.0.21

[2017-08-17 11:37] Kemallyson commented on #42
The issue is because SELinux is preventing read access to the file you are trying to access,

use restorecon /home/user/webroot/site/application/model/v2/index.php to restore access to the file

Hope this helps

http://www.linuxquestions.org/questions/linux-server-73/apache-2-warning-unknown-failed-to-open-stream-permission-denied-814037/

[2017-10-01 16:37] #53 closed

[2017-10-01 16:39] #51 closed

[2017-10-01 16:58] gordalina commented on #50
Thanks!

[2017-10-01 16:58] #50 closed

[2017-10-01 17:44] gordalina commented on #41
To use with php5.4 you need to use cachetool `1.x`

[2017-10-01 17:44] #41 closed

[2017-10-01 17:46] gordalina commented on #48
It may have to do with composer dependencies and your project's dependencies.
What's your use case that prevents you from using the phar file?

[2017-10-02 07:03] jalogut commented on #48
Hi @gordalina,

We cannot install the phar because we need to install it via composer dependencies.

It has nothing to do with the dependencies in our project. If you try it in an empty composer file, the last version found is 1.11.0. I think something is wrong with Packagist when reading you project tag versions

[2017-10-04 06:40] snails118 opened #59 "primary script unknown"
When i run "php cachetool.phar opcache:reset --fcgi=127.0.0.1:9000"
throw exception follow
[RuntimeException]
Error: Primary script unknown
Status: 404 Not Found
X-Powered-By: PHP/7.1.9
Content-type: text/html; charset=UTF-8
File not found.

[2017-10-06 06:54] godbout opened #60 "multiple php-fpm pools"
Hi, I'm wondering. I thought it was possible to clear the opcache for the whole php-fpm master processes, but it seems with cachetool it's need to precise which .sock to clear? Any way to force the clearance of all the pools? Or is there something I'm missing/misunderstanding? Thanks.

[2017-10-07 18:14] gordalina commented on #40
Use `apcu`

[2017-10-07 18:14] #40 closed

[2017-10-07 18:16] gordalina commented on #42
Use `--tmp-dir` to a path that SELinux does not block access to.
Feel free to reopen if the issue still persists

[2017-10-07 18:16] #42 closed

[2017-10-07 18:16] gordalina commented on #43
Performance here is not a big issue, but feel free to provide a PR.

[2017-10-07 18:17] gordalina commented on #44
Glad you found `--tmp-dir`

[2017-10-07 18:20] #44 closed

[2017-10-07 18:20] gordalina commented on #45
Feel free to submit a PR for this!

[2017-10-07 18:21] gordalina commented on #47
Which version of cachetool are you using?

[2017-10-07 18:25] gordalina commented on #48
I was able to install the latest version with `*`:

[code]

[2017-10-07 18:29] gordalina commented on #58
What's your `listen.allowed_clients` value in your php-fpm server?
From which machine are you invoking cachetool?

[2017-10-07 18:29] gordalina commented on #59
This is because the directory cachetool uses is not writeable, provide one through `--tmp-dir` or through configuration.

[2017-10-07 18:29] #59 closed

[2017-10-07 18:30] gordalina commented on #60
You can call cachetool for every pool.
Alternatively you can submit a PR for cachetool to apply its commands to multiple targets at the same time.

[2017-10-07 19:18] #39 closed

[2017-10-07 19:23] gordalina commented on #17
Landed in `3.0.0`

[2017-10-07 19:23] #17 closed

[2017-10-08 05:58] godbout commented on #60
Ok cool. I'll grab some more knowledge about how the clearing works (still don't get that it should be a per pool thing) and yeah, might play a bit with a PR. Thanks!

[2017-10-09 07:14] mbrodala commented on #39
Thanks a lot. :-)

[2017-10-11 06:39] syphernl commented on #58
@gordalina There is no explicit configuration for `listen.allowed_clients`, which - according to the [PHP documentation](http://php.net/manual/en/install.fpm.configuration.php) - means it should accept all. Additionally, we only use unix sockets for our FPM pools, not TCP sockets.

[2017-10-12 18:40] gordalina commented on #58
If you run cache tool after the error it works? How many times does it error before it works?

[2017-10-13 06:49] syphernl commented on #58
Running it immediately after usually works

[2017-10-17 14:36] rndmh3ro commented on #47
I just tested and the problem does not exist anymore.

[2017-10-17 14:36] #47 closed

[2017-11-03 10:56] chrisLeeTW commented on #58
We also faced this problem from time to time.

our ```listen.allowed_clients``` value is 127.0.0.1
and ```listen``` value is 127.0.0.1:9000

so maybe this problem is not completely relative to ```listen.allowed_clients```

and our php version is also 7.0 & os version is Ubuntu 16.04

[2017-11-09 09:31] gggeek commented on #26
@Falc are you sure you opened a PR? I dont see it at https://github.com/kaliop-uk/ezmigrationbundle/pulls?q=is%3Aopen+is%3Apr

[2017-11-29 03:01] chrisLeeTW commented on #58
I found out that this is maybe a fastcgi client library problem (https://github.com/adoy/PHP-FastCGI-Client/issues/13)

It's seems that adoy/PHP-FastCGI-Client is not in actively maintained. maybe change a fastcgi client library is good idea ?

[2017-11-30 07:18] gordalina commented on #58
Yeah, looks like someone forked `adoy/PHP-FastCGI-Client` into https://github.com/hollodotme/fast-cgi-client
If you're interested in sending in a Pull Request to switch libraries, I'd be happy for it

[2017-12-13 14:29] drAlberT commented on #60
opcode cache is system wide AFAIK .. every pool uses the same central shared memory

I argue if you clear on a pool then you clear every pool at once

[2017-12-15 04:09] szepeviktor opened #66 "Machine output"
I'd like to monitor `Memory free` every two minutes.

It would be nice to have `cachetool opcache:status --format=json`

In WP-CLI there are:

– table
– csv
– json
– yaml

[2017-12-15 04:11] szepeviktor commented on #66
And without human-readable M/kbytes.

[2017-12-15 04:16] szepeviktor commented on #66
When using as a library the server will have a lot of unpackaged/uncontrolled files.

[2017-12-15 04:23] szepeviktor commented on #66
The current work-around ir

[code]

[2018-01-21 00:08] mnpenner commented on #66
@szepeviktor Might be easier for you to go through the [PHP API](https://github.com/gordalina/cachetool/blob/bf6acf50af224a7d5810c6042996e60e26275030/src/CacheTool/Command/OpcacheStatusCommand.php#L40)

[2018-01-21 00:16] szepeviktor commented on #66
So you suggesting me a rewrite in PHP.

[2018-01-21 00:20] szepeviktor commented on #66
Is there a way to use one phar file? This shell script is one part of a monitoring solution so all cachetool source files have nowhere to go.

[2018-01-21 00:27] mnpenner commented on #66
I dunno man. I just found this tool, I know almost nothing about it. The maintainer didn't respond to you, so I was just offering an alternative if you don't want to wait. Yes -- my suggestion is to rewrite in PHP. It should be like 5 lines of code. Use the API to grab the $info, then you can `json_encode` it just like you wanted.

[2018-01-21 00:37] szepeviktor commented on #66
[code]

So my monitoring solution would grow by 1264 files :-)

[2018-01-21 01:04] mnpenner commented on #66
@szepeviktor You can rebundle as a new phar I guess.

[2018-02-05 16:38] lukepass opened #68 "Use it without PHP-FPM?"
Hello, is it possible to use this library without PHP-FPM?
I have a server with just Apache and mod-php, how can I make it work?
Do I have to create a dummy php page which just executes `apc_clear_cache` and call it using file_get_contents?

Thanks.

[2018-03-14 13:53] pySilver commented on #22
Heh after few days of using cachetool I also started seeing this kind of behavior in my environment. Once cache is cleared – all require_* calls fails.

[2018-03-14 17:37] pySilver commented on #22
Hopefully this would solve the issue: https://github.com/zendtech/ZendOptimizerPlus/issues/126#issuecomment-220969886

[code]

[2018-04-27 11:38] akalongman commented on #58
Same problem for me. Sometimes I am getting same error

[2018-05-21 00:29] gordalina commented on #68
This only works with PHP-FPM.

[2018-05-21 00:29] #68 closed

[2018-05-21 00:30] gordalina commented on #68
`mod_php` does not expose any ability to connect to

[2018-05-21 00:50] #45 closed

[2018-05-21 06:49] kick-the-bucket opened #70 "cachetool.phar 3.1.0 no longer works with PHP 7.0"
I think this is due to Symfony 4.0 support (which wasn't previously released), which in turn does not support PHP 7.0 (mostly due to usage of nullable return and method parameter types).

When trying to run `cachetool.phar` with 7.0 I'm getting the error:

[symfony/console/Output/Output.php:40](https://github.com/symfony/console/blob/4.1/Output/Output.php#L40)

[2018-05-21 12:06] scopenco opened #71 "3.1.0 doesn't work with php 5.6.30"
Current release cachetool 3.1.0 running on php 5.6.30 shows error
[code]

[2018-05-22 02:31] gordalina commented on #71
released `3.2.1`

[2018-05-22 02:32] gordalina commented on #70
Released `3.2.1`

[2018-05-22 02:32] #70 closed

[2018-05-22 02:32] #71 closed

[2018-05-22 07:12] davefarthing commented on #70
Hi Gordalina,
Do you know when this update will make it to the phar file here:?
https://gordalina.github.io/cachetool/downloads/cachetool.phar

[2018-05-22 11:57] pschirch opened #73 "Current Version does not work with PHP 7.0.x"
Hi,

we use your tool in our automated deployment pipeline. The current PHP version of the project where the error occurs is `7.0.30`.

**Install**
[code]

**Execute**
[code]

**Error**
[code]

Your documentation specifies the minimum version to `5.5.9+`.

Any advice?

[2018-05-22 13:52] davefarthing commented on #73
Same here, same problem

[2018-05-22 15:36] edwinljacobs commented on #73
Same here

[2018-05-23 12:42] pschirch commented on #73
@gordalina Thanks.

I also hope for a quick solution for the Deployer recipe (https://github.com/deployphp/recipes/issues/183).

I agree that it is necessary to support latest PHP versions, but this change breaks a lot of deployment pipelines.

[2018-05-29 10:17] FreekVR opened #74 "Issues running commands with composer-installed version 3.2.1"
Running CLI commands on the composer-installed version 3.2.1 of cachetool runs into some errors, I think something is broken with regards to the new config features merged in #69

Reverted to using 3.0.0 for now, which is running fine.

[code]

[2018-06-08 09:36] kakakakakku opened #76 "--version option return wrong version"
Hi, I found that `--version` option return wrong version.

# You can reproduce

[code]

Thanks 👍

[2018-06-19 06:36] konrad-arena opened #77 "ipv6 support"
passing host like `:::9000` doesn't work

[2018-06-21 11:55] gkralik opened #78 "File paths are relative to current working directory (opcache:status:scripts)"
Is there any specific reason why the file paths in the output of `opcache:status:scripts` are made relative to the current working directory (see `processFilename()` [here](https://github.com/gordalina/cachetool/blob/a819a69f4f00caf80cfee4301fdc81abcfd63673/src/CacheTool/Command/OpcacheStatusScriptsCommand.php#L78) and [here](https://github.com/gordalina/cachetool/blob/a819a69f4f00caf80cfee4301fdc

[2018-07-05 14:51] MagePsycho opened #79 "`php cachetool.phar apc:cache:info --fcgi` command not working"
[code]
gives error

[2018-07-12 14:59] andrew-demb commented on #79
PHP version < 7.1?

[2018-07-16 18:49] szepeviktor opened #80 "auto_prepend_file & auto_append_file may stop execution"
Hello!
My WAF runs from `auto_prepend_file`. It checks for superglobals (`$_SERVER['SERVER_ADDR']` etc.), those are not in cachetool, so I get a RuntimeException.

Could we get around auto_prepend_file & auto_append_file?

[2018-07-16 19:05] szepeviktor commented on #80
OR should I send a PR with those to https://github.com/gordalina/cachetool/blob/4d37ef05d00c922a2454d706bb0c37ad0fe9db3a/src/CacheTool/Adapter/FastCGI.php#L108 ?

- SERVER_ADDR
- REMOTE_ADDR
- REMOTE_PORT

[2018-07-17 16:57] gordalina commented on #66
There are a couple of solutions to this problem:

1. `require` the phar as @mnpenner suggested:

[code]

2. Add support for multi-format output (instead of just tables). You'd have to send in a PR to address this.

[2018-07-17 16:58] gordalina opened #81 "Multi-format output"
Allow users to specify output with a given format, e.g.: table, csv, json, yaml

Example:
[code]

See: #66 (initially suggested by @szepeviktor)

[2018-07-17 16:59] gordalina commented on #66
Closing in favor of #81

[2018-07-17 16:59] #66 closed

[2018-07-17 17:02] #73 closed

[2018-07-17 17:03] gordalina opened #82 "Fix deployer cachetool recipe"
Allow cachetool recipe to provide a version number to allow users with php < 7.1  to choose which version to install.

References #73
Raised by: @pschirch

[2018-08-27 10:06] tmotyl opened #83 "Please provide phar for older php version (cachetool 3)"
The current phar binary is compatible with PHP> 7.1.
Please provide a phar archive to download of cachetool compatible with php 7.0

[2018-08-27 15:39] mrfroasty opened #85 "PHP Fatal error: Uncaught RuntimeException: Error: Primary script unknown"
I am not so sure what I am doing wrong, but I cant get it work in this env of php56.

Steps:

1. php72 $(which composer) global require gordalina/cachetool --prefer-dist
2. Create cache.php
[code]
php cache.php

**Results:**

[code]

Remarks:
The only thing that is a bit exceptional is that this is a server with php56, where php72 is installed on cli only to get the cachetool to work.

Many thanks

[2018-08-28 07:59] mrfroasty commented on #85
If I add --cli it does not generate any error, but the the opcode-cache via browser is not cleared:

[code]
I assume that this has cleared only the cli cache.

[2018-08-28 08:07] mrfroasty commented on #85
If there is more info needed please let me know, one quick question is the file /dev/shm/cachetool-5b8502a61703a.php suppose to be emptied as I can not actually see it.

[code]
Info:
[code]
phpinfo:
[code]

[2018-08-28 08:33] mrfroasty commented on #85
Thanks for the support, this is selinux issue -> ```avc:  denied  { getattr } for  pid=10918 comm="php-fpm" path="/dev/shm/cachetool-5b8504ed75022.php"```

[2018-08-28 08:33] #85 closed

[2018-09-04 14:05] Gamesh commented on #58
For us mostly it occurs during deployment when flushing opcache it increases the load quite drastically and cachetool prints out this error, i think it's because of timeout that occurs in the underlying library that is executing the flush operation through FPM. It ends up succeeding but we get the error and can't suppress it or handle it so be build fails. Due to the high load it just takes longer

[2018-09-11 15:48] erichard opened #86 "Wrong version in the latest phar"
I've tried to download cachetool.phar and cachetool-4.0.0.phar and they both give me the same output.

    $ php cachetool.phar -V
    CacheTool 3.2.1-2-ga819a69

    $ php cachetool-4.0.0.phar -V
    CacheTool 3.2.1-2-ga819a69

[2018-09-14 10:07] bonidier commented on #86
Hi,
This is a duplicate of #76, and I'm also waiting for the fix ;)

[2018-09-17 10:16] akalongman opened #87 "Self update error"
After installing v4.0.0 I see an error on self-update:

[code]

[2018-09-17 10:17] akalongman commented on #76
Same for me

[2018-09-20 10:06] artemsuv opened #88 "cachetool.phar failed wheh opcache pending restart, processFileList() must be of the type array, null given"
Run php script that execute command:
`/company/utilites/bin/cachetool.phar opcache:invalidate:scripts /company/sites/site/cache/db/_new_Goods.VarDetails_var_detail_values_by_sections_81235.php --fcgi=/company/opcache-pool.socket -vvv`

Error reproduced when opcache_get_status return **{"opcache_enabled":false,"restart_pending":true}**. This occurs when opcache trying flush wasted memory.

Debug Ou

[2018-10-17 21:33] dvershinin opened #92 "OPCache status failure with opcache.file_cache_only = 1"
With PHP 7.2.11 (and virtually any PHP >= 7.0) cachetool fails to get opcache status if only file based cache is used for OPCache.

That is, having the following PHP configuration:

    opcache.file_cache_only = 1

And running `cachetool opcache:status`, yields:

[code]

[code]

When `opcache.file_cache_only = 1` setting is used, there is no in-memory cache, and `opcache_get_status()` reports that

[2018-10-25 16:33] ben-challis opened #93 "opcache:compile:scripts command does not actually exist"
This command is documented as being introduced in 3.1, but not actually available in 3.1 to 4.0.

Digging into this the command is simply not registered due to a small mistake in the implementation for #64 (it's double registering `OpcacheInvalidateScriptsCommand` accidentally).

[2018-11-05 10:34] szepeviktor commented on #81
@gordalina For the time being would it be possible to add an option to disable human-readable byte values?

[2018-11-22 09:32] gevial commented on #58
I've switched from adoy/PHP-FastCGI-Client to https://github.com/hollodotme/fast-cgi-client and scripts invalidation works now! 🍾 See PR above.
However I did it only for **3.x branch** as we use PHP 7.0.

I also added this change to my PR as well: https://github.com/gordalina/cachetool/pull/94

P.S. Seems like tests failed because of bad build configuration (something wrong with GitHub token)

[2019-01-17 07:31] sprankhub commented on #48
Just tested it. This works for me now and installs 4.0.0 as expected.

[2019-01-23 10:34] onlime commented on #76
If @gordalina does not build latest cachetool.phar 4.0, how can we build it ourselves?

[2019-01-23 14:10] ottnorml commented on #76
To build the PHAR you need [Box](https://github.com/humbug/box) and [Jsawk](https://github.com/micha/jsawk) available in your PATH. Then you can run
`bin/bump-version.sh <version>`.

[2019-01-24 17:02] raqqun commented on #83
@tmotyl http://gordalina.github.io/cachetool/downloads/cachetool-3.2.1.phar

[2019-01-24 17:03] raqqun commented on #83
More generally `http://gordalina.github.io/cachetool/downloads/cachetool-{$TAG}.phar` where `{$TAG}` is the git tag version

[2019-01-28 20:59] gordalina commented on #76
Released version `4.0.1` which is the same as `4.0.0`.
I'm also looking for maintainers if anyone wants to pickup the project.

[2019-01-28 20:59] #76 closed

[2019-02-20 22:48] leolensabl commented on #79
I'm receiving same error as well:
<img width="1135" alt="screen shot 2019-02-20 at 2 48 29 pm" src="https://user-images.githubusercontent.com/40841827/53130269-9d8c0100-351e-11e9-90c5-442ab5a9a898.png">

[2019-04-05 14:41] erichard commented on #87
I reproduce this error on php 7.2

ping @gordalina :)

[2019-05-20 11:49] szepeviktor opened #100 "New feature: eval command"
I know this is out of the scope of caching.

An eval command would ease debugging. `cachetool eval $file-name.php`

[2019-05-20 12:26] szepeviktor commented on #100
The non-PHP solution is: `apt-get install libfcgi-bin`

[code]

[2019-07-09 21:00] lkraav commented on #58
I'm also hitting this problem.

Migrating to https://github.com/hollodotme/fast-cgi-client seems like a solid idea.

What's stopping merging #96?

[2019-08-15 23:38] gander opened #122 "PHP Fatal Error with "web" adapter in .cachetool.yml"
| Q                 | A
| ----------------- | ---
| Issue Type        | Bug
| Package Version  | 4.x

### Description
The configuration file with the web adapter cannot be used

### Steps to reproduce
1) Prepare configuration file (below)
2) Run `cachetool opcache:status`

### Content of `.cachetool.yml`
[code]

### Output log
[code]
_Error obtained from the repository code for valid code lines._

[2019-08-15 23:46] gander commented on #122
I think the problem is that the `$this->config['http']` key (`src/Console/Application.php:173`) is not created if I do not specify the `--web` option. And when I give only `--web`, it overwrites the configuration from the file with the default values ​​from input.

[2019-08-16 13:27] lkraav commented on #58
One of the big problems I'm experiencing is that after this failure, `phpinfo()` shows that PHP opcache becomes disabled and I have to restart the interpreter to restore it. Very costly. Does anyone here have any thoughts?

[2019-08-19 09:28] FractalizeR commented on #88
Faced this problem as well.

[2019-08-19 18:46] lkraav commented on #58
My problem was highly likely caused by a WordPress plugin calling `opcache_reset()` due to Redis object cache not being properly invalidated https://github.com/Yoast/wordpress-seo/issues/9315

[2019-11-20 22:20] #122 closed

[2019-11-20 22:26] #83 closed

[2019-11-27 07:07] onlime opened #128 "Please update cachetool.phar to latest 4.1.0"
The [cachetool.phar](http://gordalina.github.io/cachetool/downloads/cachetool.phar) URL from your install instructions never seems to be the latest version. It's still CacheTool 4.0.0:

[code]

Nobody likes to build phar's manually as it is a minor pain.
Thanks for updating.

[2019-12-03 09:29] vladyslavstartsev commented on #128
it will be even better, to publish phar file to github releases

[2019-12-03 22:37] oojacoboo opened #130 "Array and string offset access syntax with curly braces is deprecated"
There are tons of these errors throughout the app.  PHP 7.4 complains as this is now deprecated.

[2019-12-04 18:08] gordalina commented on #128
Fixed

[2019-12-04 18:08] #128 closed

[2019-12-04 18:08] gordalina commented on #43
Released in `4.1.0`

[2019-12-04 18:08] #43 closed

[2019-12-04 18:09] gordalina commented on #48
Closing due to inactivity

[2019-12-04 18:09] #48 closed

[2019-12-04 18:11] #74 closed

[2019-12-04 18:12] gordalina commented on #78
Feel free to create a pull request!

[2019-12-04 18:16] gordalina commented on #80
Send in a PR!

[2019-12-04 18:20] szepeviktor commented on #80
Done.

[2019-12-05 20:21] #80 closed

[2019-12-05 21:30] gordalina commented on #93
Where exactly is it documented that's available in 3.1?

[2019-12-05 21:31] gordalina commented on #92
Want submit a pull request for that?

[2019-12-05 21:33] #58 closed

[2019-12-05 21:33] #130 closed

[2019-12-06 10:59] ben-challis commented on #93
The linked PR landed in 3.1 - https://github.com/gordalina/cachetool/pull/64#issuecomment-390528485

[2019-12-06 10:59] mdjward commented on #93
This is both present in [README.md](https://github.com/gordalina/cachetool/blob/3.1.0/README.md#usage-as-an-application) and in [src](https://github.com/gordalina/cachetool/blob/3.1.0/src/CacheTool/Command/OpcacheCompileScriptsCommand.php) at that tag.

[2020-01-09 09:03] HOSTED-POWER opened #135 "Doesn't create tmp_dir anymore"
We use these settings for ages, but newest cachetool fails:

[code]

We get this output now:

[code]

When we change path to temp_dir: /dev/shm OR when we manually create /dev/shm/cachetool, the issues are resolved.

We use these settings on many servers, any idea why the default of creating the path has changed? Can this be changed again so the path is created? Thx! :)

[2020-01-16 12:19] bramstroker opened #136 "New release"
Is there any new release planned which contains the fixes from pull request https://github.com/gordalina/cachetool/pull/133?

[2020-01-22 15:37] thorewi commented on #58
@gordalina hi, can you do a release with this fix please and place it to http://gordalina.github.io/cachetool/downloads/cachetool.phar? Thank you.

[2020-01-23 08:55] rofokken commented on #136
Hello maintainer,

We also need the new release. Could you please respond?
Thanks!

Robert

[2020-02-20 11:06] bramstroker commented on #136
Any update? Is this package still maintained.

[2020-03-08 12:08] akalongman commented on #136
+1 for this question

cc @gordalina

[2020-03-20 22:00] robolmos opened #140 "Should cachetool handle purging opcache's "file cache"?"
The issue seems to be that cachetool calls "opcache_reset()" but then opcache just reads the file again from the second level cache directory. Same situation when restarting php-fpm.

Should cachetool handle purging opcache's "file cache"?

I can't find any official docs for methods to best do that, so I suppose it's just deleting all the opcache .bin files on the filesystem in the "file_cache" di

[2020-03-24 10:44] peter279k opened #141 "@expectedException annotation deprecated on PHPUnit 8.x"
According to this [issue](https://github.com/sebastianbergmann/phpunit/issues/3332), it seems that the `@expectedException` comment annotation will be deprecated soon on `PHPUnit 8.x`.

And removed on `PHPUnit 9.x`.

And it should consider replacing these with `$this->expectException` method calls.

[2020-03-24 10:55] peter279k opened #142 "Migrating to assertStringContainsString PHPUnit 8.x"
As title, after upgrading `PHPUnit` version, it will have following warning message:

[code]

And it should change into `assertStringContainsString` and `assertStringNotContainsString` assertions.

[2020-03-28 03:09] gordalina commented on #81
Feel free to submit a pull request that enables machine byte output.

[2020-03-28 03:15] gordalina commented on #136
Yes, doing a release soon.

[2020-03-29 04:47] #142 closed

[2020-03-29 04:59] #141 closed

[2020-03-29 05:19] #135 closed

[2020-03-29 07:14] gordalina commented on #93
You are right, this was a bug until `4.1`.  You can update to a newer version.

[2020-03-29 07:14] #93 closed

[2020-03-29 07:34] #87 closed

[2020-03-29 07:51] #86 closed

[2020-03-29 08:04] gordalina commented on #100
This is something that can be added, feel free to submit a pull request.

[2020-03-29 08:49] #88 closed

[2020-03-29 09:34] #140 closed

[2020-03-29 09:47] gordalina commented on #136
Version 5.0.0 was released. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:47] #136 closed

[2020-03-29 09:48] gordalina commented on #140
Added in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:48] gordalina commented on #88
Handled in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:48] gordalina commented on #92
Handled in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:49] gordalina commented on #87
Handled in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:49] gordalina commented on #135
Added in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:49] gordalina commented on #142
Added in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:49] gordalina commented on #141
Added in version 5.0.0. Check the [changelog](https://github.com/gordalina/cachetool/blob/master/CHANGELOG.md#500)

[2020-03-29 09:52] #92 closed

[2020-03-29 09:53] gordalina commented on #79
Try using the newer version with PHP 7.2

[2020-03-29 09:53] #79 closed

[2020-03-29 09:53] #78 closed

[2020-03-29 09:53] gordalina commented on #78
Closing due to inactivity.

[2020-03-29 09:53] gordalina commented on #60
Closing due to inactivity.

[2020-03-29 09:53] #60 closed

[2020-03-29 10:22] gordalina commented on #77
Implemented in https://github.com/gordalina/cachetool/commit/68d443e6f87c5b4e557a2d6c21b38618adb4d6f9

[2020-03-29 10:22] #77 closed

[2020-03-30 00:16] gordalina commented on #82
Closing due to inactivity. This should be created in the deployed recipes repository though.

[2020-03-30 00:16] #82 closed

[2020-03-31 05:06] johnorourke opened #144 "herrera-io/phar-update is abandoned"
Hi, I am trying to use this in a Magento 2 installation, but it relies on herrera-io/phar-update, which relies on herrera-io/json, which requires a really old version of justinrainbow/json-schema that I can't install, because several of my packages require a newer version of that library.

The herrera packages are both abandoned and have alternatives - hopefully easy to replace!

[2020-03-31 17:34] gordalina commented on #144
You can use cachetool as an independent binary rather than a dependency.
Alternatively, you can submit a Pull Request to update the dependencies.

[2020-04-09 15:26] Tadaz opened #145 "Any Opcache actions fail trying to use HTTP interface"
After migrating our old website to a new one which uses Laravel MVC the cachetool v.4.0.0 (HTTP interface) stopped working. Web path and URL remain the same as it was. The error message is always the same for any of the Opcache commands.

For example:
`php cachetool.phar opcache:status --web --web-path=/path --web-url=http://website.url`

Returns:
<img width="309" alt="cachetool opcache" src="http

[2020-04-09 17:02] gordalina commented on #145
Can you run it with --verbose argument?

On Thu, Apr 9, 2020 at 8:26 AM Tadaz <notifications@github.com> wrote:

--
Schedule a meeting <https://calendly.com/samuel-gordalina/30min> | Connect
with me <https://www.linkedin.com/in/samuelgordalina/> <+1+(628)+800-1320>
https://gordalina.com

[2020-04-14 08:29] Tadaz commented on #145
This is the response:
![issue-145](https://user-images.githubusercontent.com/10881931/79203106-7420e980-7e32-11ea-97f2-bae0a2d7cf7b.PNG)

[2020-04-19 21:47] gregurco commented on #144
Hello @gordalina
I did a small research related to this problem and found that phpDocumentor had the same problem. They migrated from `herrera-io/phar-update` to few commands in GitHub actions: https://github.com/phpDocumentor/phpDocumentor/blob/master/.github/workflows/release.yml

Phar files are created and published during release here: https://github.com/phpDocumentor/phpDocumentor/releases (c

[2020-04-30 13:52] Tadaz commented on #145
@gordalina any news? It is still an issue on my side.

[2020-05-01 11:24] Vanav opened #147 "cachetool opcache:reset (FastCGI) sometimes halts with no obvious reason"
Log:
[code]
Here is stop and doesn't continue or return. But request looks fast and successful:
[code]
I can't reproduce, just have logs.

[2020-05-02 13:13] acsfer opened #148 "Strings buffer size wrong?"
In my php.ini:
[code]
output
[code]
is this normal? CacheTool 5.0.0

[2020-05-20 11:02] n-rodriguez opened #150 "Link to 3.2.1 is broken"
Hi there!

This link in the README points to the wrong version : https://gordalina.github.io/cachetool/downloads/cachetool-3.2.1.phar

If you do

[code]
Thank you!

[2020-06-01 11:18] jonhattan opened #151 ""Aborted due to security constraints" problem"
We're running opcache:status for a dozen pools in monit checks, and sometimes get this error:

I think it is caused by non uniqueness of uniqid() calls in the same microsecond, as explained in the manual page at https://www.php.net/uniqid

I think `$more_entropy = true` may help but haven't tested it yet.

[2020-06-01 11:29] jonhattan commented on #81
FYI we're using a trick to obtain a parseable json:

[code]

Here's out python snippet:

[code]

[2020-06-01 11:34] jonhattan commented on #145
I've also suffered this with a variety of underlying causes. Please double check --web-path is set to the docroot, and --web-url is directly accesible from the host (no proxys redirecting to https, or routing to another host in a multihead setup).

[2020-06-01 23:39] dimti opened #153 "Call to undefined function Symfony\Component\Console\Output\stream_isatty()"
Hi

Last time i fetched error:

[code]

[2020-06-04 16:44] n-rodriguez commented on #150
Hi there! Any news?

[2020-06-05 10:10] ppanphper commented on #150
Pack it yourself....

3.x cannot use opcache:compile:scripts command, because application not add to the container.

[2020-06-06 10:49] n-rodriguez commented on #150
I don't know how to do this...

[2020-06-18 18:33] Vanav commented on #147
[code]

[2020-06-20 09:20] rayderua opened #154 "Add --config option"
if We have several php-fpm pools, we should edit cachetool.yaml every time when use cachetool for reset cache.
So would be great if we could create several yaml configs
(for example in /etc/cachetool/www.yaml /etc/cachetool/other.yaml) and provide which config we want to use with a parameter (for example --config)

[2020-06-22 09:40] johnorourke commented on #154
@rayderua I solve this by having the config file in the home directory of the user who the pool is running as.  eg. I have 3 pools, and each one has a separate user, with its own home.  Then you can run cachetool when you're logged in as that user.  This also allows us to keep the config file in source control.

[2020-06-23 20:18] rayderua commented on #154
@johnorourke  creating a user for each pool is not always possible. I will just show on the example of my staging server
`# find /etc/php/7.4/fpm/configs/ -type f -name '*.conf' | wc -l
131
`
creating 131 branches for one config is not much better.
I forked sorce, and use cachetool from my repository.
But I hope it's a temporary solution, and @gordalina will accept PR

[2020-06-24 00:38] gordalina commented on #154
This has been accepted and will be released soon.

[2020-06-24 00:39] #151 closed

[2020-06-24 02:06] gordalina commented on #153
Update to php 7.2 or run cachetool with `NO_COLOR` attribute:

[code]

[2020-06-24 02:06] #153 closed

[2020-06-24 02:09] gordalina commented on #100
Added in #146

[2020-06-24 02:09] #100 closed

[2020-06-24 02:09] gordalina commented on #144
Looks great! 👍

[2020-06-24 02:10] #154 closed

[2020-06-24 04:24] szepeviktor commented on #100
🚀

[2020-06-24 05:30] gordalina commented on #150
There's a new release which includes the fix for `opcache:compile:scripts` command: https://gordalina.github.io/cachetool/downloads/cachetool-3.2.2.phar

[2020-06-24 05:30] #150 closed

[2020-06-24 05:30] gordalina commented on #144
Released in `5.1.0`

[2020-06-24 05:30] #144 closed

[2020-06-24 05:35] gordalina commented on #148
It just means that the currently allocated buffer is 24 MiB, which is lower than the maximum of 32 MiB

[2020-06-24 05:35] #148 closed

[2020-06-24 05:41] gordalina commented on #147
This is an issue in the FastCGI client, cc @hollodotme

[2020-06-24 06:04] gordalina commented on #145
I've issued a new release with more information when the error happens, can you try with this version?
https://github.com/gordalina/cachetool/releases/tag/5.1.1

Thanks

[2020-06-24 07:08] jonhattan commented on #151
Thanks. This change definitively helped us, although #145 is still our main problem.

[2020-06-24 07:28] jonhattan opened #157 "Docker image available"
Hi there, just to announce we've published a repository in docker hub that generates docker images for all releases (tags) of cachetool:

* https://hub.docker.com/repository/docker/sbitio/cachetool
* https://github.com/sbitio/docker-cachetool

kudos to @NITEMAN

[2020-06-24 17:01] #157 closed

[2020-06-24 17:02] gordalina commented on #157
Awesome, thank you guys. I've added documentation to reflect this.
We can have a GitHub Action that creates the docker image automatically if you're open to it.

[2020-06-24 17:49] gordalina commented on #151
Have you tried using the fpm socket? It's more reliable than connecting through web.

[2020-07-06 11:22] kalumkalac opened #158 "PHP Parse error: syntax error, unexpected '?' ..../Parser.php on line 1119"
Hello, there is a parse error in 3.2.2 version. I run it with PHP7.0:

Command line used:

[code]

Results
[code]

There is no problem with cachetool-3.2.1.phar.

If I try to run it with PHP7.4:
[code]

Again, no problems with 3.2.1.

[2020-07-15 10:30] Tadaz commented on #145
@jonhattan gave me a hint and found a solution to this problem. A value of --web-path parameter was incorrect since Laravel's root path is different. The entry point for all requests is in /public/index.php.

So the correct command is:
`php cachetool.phar opcache:status --web --web-path=/path/public --web-url=http://website.url`

Thanks for your time and help, guys.

[2020-07-15 10:30] #145 closed

[2020-07-16 05:55] dvershinin commented on #158
PHP 7.2.32, running cachetool 3.2.2, fails similiarly:

[code]

[2020-07-18 15:27] DanielRuf opened #159 "Missing curl flag for redirects"
The code should be `curl -sLO https://github.com/gordalina/cachetool/releases/latest/download/cachetool.phar`, otherwise we get only the following:

[code]

[2020-07-24 01:53] #159 closed

[2020-07-24 02:27] gordalina commented on #158
Re-issued `3.2.2`, try with this binary: https://gordalina.github.io/cachetool/downloads/cachetool-3.2.2.phar

[2020-07-31 13:07] Toflar opened #160 "Replace file_get_contents() with symfony/http-client"
Hey Samuel,

Great work, I really enjoy this tool!

As it is already using Symfony components, I was wondering if you would be okay with replacing `FileGetContents` by the Symfony HttpClient. We'd have numerous advantages:

* Proper exception handling
* Support for cURL with auto-fallback to fopen/file_get_contents
* Loads of quirks dealt with for us
* etc.

Just checking before I create a PR :)

[2020-07-31 17:03] gordalina commented on #158
Closing the issue for now, feel free to reopen.

[2020-07-31 17:03] #158 closed

[2020-07-31 17:05] gordalina commented on #160
I'd happily accept a PR with a new `SymfonyHttpClient` adapter. Changing the current `FileGetContents` adapter could lead to breaking changes for current users. 👍

[2020-08-19 08:51] Dlahacz opened #161 "Missing curl -L argument on website"
In readme.md it's fine, but not on website.

[2020-08-19 08:57] Dlahacz commented on #161
https://github.com/gordalina/cachetool#installation---latest-version vs https://gordalina.github.io/cachetool/#installation---latest-version

[2020-08-19 17:30] gordalina commented on #161
Updated, thank you!

[2020-08-19 17:30] #161 closed

[2020-08-21 07:07] zordsdavini opened #162 "opcache_reset under load balancer"
Is there possibility to reset through `--web` opcache under load balancer.
In plain bash it could be done like:
[code]

I see that `file_get_content` is used. It accepts `$context`. Maybe there is way to tweak it?

[2020-08-26 22:47] gordalina commented on #162
The way that CacheTool works is by creating a file with the desired operation, where `opcache_reset()` is one of such operations and then executing that file using a provider.

The `file_get_contents` provider would work if the system has an HTTP server. Cachetool would only need to be configured with a path to write to, and then it would perform the call automatically.

To perform this under load

[2020-10-02 11:03] jonhattan commented on #157
Hi @gordalina we're fine with setting up such Github Action but we don't know how to proceed. Do you need something from us?

[2020-10-10 01:36] gordalina commented on #157
If you want to integrate the work you've done into this repository and to the official namespace `gordalina/cachetool` we could do so during the release process: https://github.com/gordalina/cachetool/blob/master/.github/workflows/ci.yml#L65
Here's an example: https://github.com/marketplace/actions/build-and-push-docker-images

[2020-10-28 08:25] virtualize opened #164 "Required padraic/phar-updater is now officially abandoned"
https://github.com/humbug/phar-updater/issues/59

An alternative that was suggested is https://github.com/consolidation/self-update

[2020-11-03 11:00] staabm opened #165 "reduce .phar filesize"
I would love to get the filesize reduced of the cachetool.phar.

we will copy it a lot within build pipelines to make it available.

I have just downloaded cachetool 5.1.3 and had a look into the phar
using `php -r '$phar = new Phar("cachetool.phar"); $phar->extractTo("./cachetool");'`,
so we can finally see which folders take the most space (using Treesize on Windows):

![grafik](https://user-ima

[2020-12-10 17:26] driskell commented on #9
Sorry - 5 years too late 😄

I hope the below helps others who stumble here. It's not so much that php-fpm doesn't have access, but that cachetool isn't running in the same domain as php-fpm. TLDR - you can compile and install an SELinux module to fix.

If you run cache tool from an unconfined domain (such as unconfined_t - which you are in when you SSH or run via Cron) - then when you run cache to

[2020-12-12 18:27] gordalina commented on #164
I'm open to receiving pull requests to update if you are interested.

[2020-12-12 20:21] #165 closed

[2020-12-12 20:49] gordalina commented on #165
Compressed phars (gz and bz2) are now released from v6.0.0.
Look here on how to get them: https://github.com/gordalina/cachetool#installation---latest-version

[2021-01-04 09:51] duxthefux commented on #164
@gordalina I prepared a PR https://github.com/gordalina/cachetool/pull/169

[2021-01-06 09:28] fabmlk commented on #162
I would like to reopen this issue, as I faced the same problem as @zordsdavini.

This is not true if you are connected to the server (@zordsdavini mentionned localhost), so you have everything needed (create the php file and perform the HTTP request), except the possibility to specify the host.

If CacheTool had an option say --host (or more generally --header) this would work just fine in this sc

[2021-01-06 10:10] johnorourke commented on #162
This could be quite simple - we could:
 * add Guzzle (or another PSR http client - eg. lightweight one: https://github.com/pdeans/http )
 * add a CLI option for --web-host
 * in https://github.com/gordalina/cachetool/blob/master/src/Console/Application.php#L198 create a new instance of the client and set it up, instead of using file_get_contents
 * it also allows for more secure php options (eg. n

[2021-01-08 01:51] gordalina commented on #164
Fixed by #169

[2021-01-08 01:51] #164 closed

[2021-01-08 02:01] gordalina commented on #164
Released in 6.1.0. Thank you @duxthefux

[2021-01-08 02:05] gordalina commented on #162
The `FileGetContents` adapter could be updated to receive a host header which when passed add it to the request.
It could be configured in `src/Console/Application.php#parseConfiguration()`
I'd happily accept a PR that includes that change.

[2021-01-08 13:20] francoisfreitag opened #171 "Installing 6.1.0 via composer fails"
Hi, thanks a lot for this tool, it is solving our problem very neatly!

Up to `v6.0.0`, I had been using command `$ composer global require gordalina/cachetool` to make cachetool available for my webserver user.

Since `v6.1.0`, the installation fails with:
[code]

[2021-01-12 18:08] #171 closed

[2021-01-12 18:20] gordalina commented on #171
Fix released in `v6.1.1`

[2021-01-25 07:17] onlime opened #173 "Cachetool 6.1.1 self-update fails"
Using `self:update` to update Cachetool worked fine in the past. But since 6.1.1 (or since recently - only running self-update once a week) I get:

[code]

This runs on a Debian Buster with PHP 7.4:

[code]

might be related to #172

BTW, could you please also introduce a `self-update` alias for `self:update`, as most other tools (Composer, Symfony CLI,...) provide this.

[2021-01-28 13:55] FireLizard opened #174 "file_get_contents() call failed with url"
I've installed Version 6.1.1 and **sometimes** got the following error:
[code]
As you can see its a symfony webapplication. An Apache-VHost is configured with the DocumentRoot equal to /var/www/html/example.org/public.

Do you have any hint or suggestions? Its maybe the same issue as #145 .

Now trying to set the symlink target (which is the DocRoot) for --web-path

[2021-02-04 14:05] FireLizard commented on #174
I don't get it.

Using [deployer](https://deployer.org/) this is the directory structure:
/var/www/html/example.org/
 * current -> releases/3 # Symlink pointing to the latest release. Its the DocumentRoot of the Apache-VHost, too.
 * releases/ # all releases so far
 * release/ # exists on build time and switched to current/ afterwards (by `mv -T /var/www/html/example.org/release /var/www/html/exam

[2021-03-04 13:34] FireLizard commented on #174
Any news on this?
Could it be a race condition between `file_get_contents` and `unlink`?

[2021-03-16 13:33] marvinhinz opened #175 "FileGetContents Adapter error supression on SSL errors"
Hi!

we have a lot servers, that only support the op & stat cache reset over http. So on some servers i encountered this error:

`file_get_contents() call failed with url: example.org/cachetool-6050af884Ee485.78881758.php (error code: 0)`

Even with debug enabled, this does not explain why its failing. After i manually cloned the repo and removed the @-operator it revealed the following message:

[2021-03-16 13:43] marvinhinz commented on #174
We are too using deployer and cachetool, it seems apache caches the "current" symlink location in the opcache/statcache and serves the old release until the cache is cleared.

The issue might be solved if the name of the uploaded file to clear the cache doesnt change between runs, or calling the cachetool on the old release/xyz path.

[2021-03-18 05:17] #173 closed

[2021-03-18 05:57] gordalina commented on #174
Can you run cachetool with `-vvv` to display maximum verbosity?

[2021-03-18 05:59] gordalina commented on #173
Fixed in `v6.1.2`

[2021-03-26 19:05] FireLizard commented on #174
Sure :)
[code]

[2021-05-11 02:05] #160 closed

[2021-05-11 02:40] gordalina commented on #175
SymfonyHttpClient adapter released in `6.2.0`

[2021-05-11 02:40] #175 closed

[2021-05-11 02:44] gordalina commented on #174
Can you try the new SymfonyHttpClient available in cachetool `6.2.0`?
Pass `--web=SymfonyHttpClient` as an argument to use this new adapter

[2021-05-12 14:02] AndreasA opened #178 "Value of `--web` is ignored since 6.3.0"
Due to changes with `6.3`: https://github.com/gordalina/cachetool/blob/master/src/Console/Application.php#L199

The value of `--web` is ignored as you use `hasParameterOption` instead of `getParameterOption`.  This might even fail completely as no adapter can be matched.

[2021-05-12 14:19] AndreasA commented on #174
Hi,

I also noticed this issue recently. It was working fine but (I think it is since the update to 6.3), it now fails quite often but sometimes it works. Maybe indeed a race condition. I will try SymfonyHttpClient. However, that one cannot be used in 6.3.0 without a config file: https://github.com/gordalina/cachetool/issues/178

Or is it too soon after the symlink is changed and apache requires a

[2021-05-12 14:21] nlemoine commented on #178
My mistake, PR fixing this is opened!

[2021-05-12 14:41] AndreasA commented on #178
@nlemoine Thanks

[2021-05-12 17:35] #178 closed

[2021-05-12 17:37] gordalina commented on #174
Fix available in `6.3.1`

[2021-05-20 12:26] FireLizard commented on #174
I've installed v6.3.1 but the following exception occurs

[code]

[2021-05-20 17:31] gordalina commented on #174
@FireLizard can you check your server logs? There should be some information about why the page returned a 500.

[2021-05-20 18:07] FireLizard commented on #174
Hmm just `PHP Fatal error:  Unknown: Failed opening required '/var/www/html/example.org/current/public/cachetool-60a652836ad012.62334152.php'` :(

[2021-05-21 00:11] gordalina commented on #174
@FireLizard does `https://example.org` point to the `/var/www/html/example.org/current/public/` folder? Cachetool did not complain about not being able to write the file to the directory, but the server complains about the file not being there. My guess is that there's some sort of disconnect.

[2021-05-21 22:10] akalongman opened #180 "Fatal error on PHP8"
On PHP 8 command `./cachetool.phar opcache:reset` results to the fatal error:
[code]

Version of cachetool is 6.3.1

[2021-05-24 21:05] gordalina commented on #180
I can't replicate this. Which exact php version are you using?

[2021-05-27 07:21] FireLizard commented on #174
Hello @gordalina ,
yes, this domain points to this directory by Apache's [DocumentRoot](https://httpd.apache.org/docs/2.4/de/mod/core.html#documentroot):
[code]

[2021-05-27 09:45] akalongman commented on #180
@gordalina
[code]

[2021-05-27 09:51] akalongman commented on #180
I'd recommend adding a new major version that will support only PHP >=8.0 and drop support for PHP 7 and old Symfony components

[2021-05-28 18:33] gordalina commented on #180
Can you try this alpha build? https://github.com/gordalina/cachetool/releases/tag/7.0.0-alpha.2

[2021-05-28 20:28] akalongman commented on #180
@gordalina same error

[2021-05-29 02:36] gordalina commented on #180
Thank you for testing it out, I narrowed it down and created an alpha build within the v6 version.
Can you try this version? https://github.com/gordalina/cachetool/releases/tag/6.4.0-alpha.0

[2021-05-31 07:44] akalongman commented on #180
@gordalina I can confirm, no error anymore

[2021-06-01 17:10] gordalina commented on #180
@akalongman can you also test that this build works?
https://github.com/gordalina/cachetool/releases/tag/6.4.0-alpha.1

[2021-06-01 18:57] akalongman commented on #180
@gordalina version 6.4.0-alpha.1 throws the same error

[2021-06-03 17:11] gordalina commented on #180
@akalongman can you past the error logs from `6.4.0-alpha.1`? I can't seem to replicate it.
Thank you

[2021-06-04 05:13] #180 closed

[2021-06-04 05:16] gordalina commented on #180
Released `6.4.0`

[2021-06-04 05:18] gordalina commented on #174
Can you try with this build? https://github.com/gordalina/cachetool/releases/tag/6.4.0

Thank you.

[2021-06-08 13:08] thislg opened #184 "Default value for --web option broken since 6.3.1"
Since version 6.3.1 passing option `--web` without a value does not work anymore.

[code]

It should default to `FileGetContents`.

[2021-06-10 20:01] #184 closed

[2021-06-10 20:06] gordalina commented on #162
This is now available in `6.5.0`

[code]

[2021-06-10 20:06] #162 closed

[2021-06-10 20:07] gordalina commented on #147
Closed due to inactivity

[2021-06-10 20:07] #147 closed

[2021-06-10 20:08] gordalina commented on #184
Fix available in `6.5.0`

[2021-06-11 08:58] edouardgat opened #186 "Require fails if psr/container 1.1.1 is required elsewhere"
Hi

I use the symfony/dependency-injection on my project using Symfony 5.3, which is locked in composer.lock to "version": "v5.3.0"
This packages requires psr/container ^1.1.1

Due to [recent changes](https://github.com/gordalina/cachetool/commit/1cb26d7a740c623fc9f9e91cdd54b98275c88214#diff-d2ab9925cad7eac58e0ff4cc0d251a937ecf49e4b6bf57f8b95aab76648a9d34) in the composer.json of gordalina/cacheto

[2021-06-17 12:31] FireLizard commented on #174
Couldn't update the package in cause of the dependency _psr/container_ fixed to version 1.0.0
Is it important? Actually I use v1.1.1

Thank you for your effort.

[2021-06-24 13:36] FireLizard commented on #174
Sorry :( but our log said:
[code]

[2021-06-24 13:51] marvinhinz commented on #174
The problem is most likely that cachetool is not working, because apache/php still has the old "current" folder cached and the newly created files are not accessible. Try calling cachetool on the previous release folder.

[2021-07-05 10:21] islenbo commented on #186
+1

[2021-07-10 06:03] gordalina commented on #81
Closing due to inactivity

[2021-07-10 06:03] #81 closed

[2021-07-28 03:29] baijingqi opened #188 "FastCGI error: Stream got blocked, or terminated"
**Today  when i cleared opcode, i  got this error:**

![image](https://user-images.githubusercontent.com/24445120/127258192-564863ed-0875-47e4-b763-80681b25dd46.png)

The command  I runed is " **/usr/local/php-fpm/bin/php cachetool.phar opcache:reset**". I never seen this error before.  after I  built again , the error disappeared.

This is  my  php environment  info:
![image](https://user-images.

[2021-07-28 06:27] gordalina commented on #188
The error seems to be related to the connection being terminated. Are you restarting php-fpm? Can you post more information about what you are doing and in the steps involved?

[2021-07-29 02:20] baijingqi commented on #188
I'sorry that i don't have more info. the first picture recorded what  Jenkins  consoled out when building project. I'm sure it is  impossible that someone restarted php-fpm at that time .  If I see this error again , i will record more info and tell you . thanks .

[2021-07-29 02:20] #188 closed

[2021-08-02 10:04] virtualize commented on #186
same for me, latest symfony requires psr/container ^1.1.1

@gordalina why was psr/container pinned to 1.0.0? are there plans to remove this restriction?

[2021-08-11 18:19] fregatte opened #189 "FastCGI connection drop with non-zero pm.max_requests"
Hi Samuel!
Thanks for the great tool that help us very much :)

I've updated the cachetool to the latest 6.5.0 version (used 3.x version before) and got the strange behavior when I try to clear the opcache for a large PHP website (more then 2000 php files).

[code]
I've tried `-v` option and it looks like the connection drops at random moments, but it managed to process some bunch of paths before

[2021-08-14 08:28] gordalina commented on #189
I've changed the invalidate script to [run in only one request](https://github.com/gordalina/cachetool/commit/744c9348eaee9d2f7351988e9c6bb4e7b8ad6716).
Can you try with [this alpha version](https://github.com/gordalina/cachetool/releases/tag/6.6.0-alpha.0)?

[2021-08-14 08:48] gordalina commented on #186
`psr/container` was pinned to 1.0.0 due to an incompatible version requirement in symfony, which has since been resolved. see #180 and #183.
I've built an [alpha version](https://github.com/gordalina/cachetool/releases/tag/7.0.0-alpha.3) of cachetool which removes this pin, can you check that it works for you?

[2021-08-14 22:43] fregatte commented on #189
Thanks Samuel,
I'll try it in a couple of days and come back!

[2021-08-16 09:44] virtualize commented on #186
Thanks @gordalina 7.0.0-alpha.3 seems to work fine for us.
We use it alongside https://github.com/deployphp/deployer the clear opcache and apcu cache.

[2021-08-16 09:59] edouardgat commented on #186
Hi @gordalina
Seems to be good too ! thank you !

[2021-08-17 11:07] gordalina commented on #186
Good to know, thank you. I'll issue a release soon.

[2021-08-18 14:04] fregatte commented on #189
Hi @gordalina
We've tried to use the new version and it works like a charm! Thanks a lot!

Also, I would mention the same behavior (and error) with the `opcache:compile:scripts` command. It's not affect us, actually, because we don't use it in our setup, but can be important for someone else.

[2021-08-18 18:26] Danon commented on #42
I had the same problem, I tried to run
[code]

when I tried to do
[code]
I got this error.

Apparently, you can't use bound volumes from docker that easily. So I copied the volume inside the container, and used a copy.

[code]
[code]
and it worked.

[2021-08-19 22:02] gordalina commented on #189
Thank you, released in `v6.6.0`.
`opcache:compile:scripts` has a `--batch` option which uses one request.

[2021-08-19 22:02] #189 closed

[2021-08-19 22:05] gordalina commented on #186
Released in `v7.0.0`. Thank you!

[2021-08-19 22:05] #186 closed

[2021-09-17 07:05] AndreasA commented on #174
maybe it would be a good idea to specify both folders for cachetool and it tries both (previous and current) with previous first, one of them should work after all. or to add some retry count with a sleep in between because after a while the new folder should work.

[2021-09-18 09:28] lkraav commented on #184
In 7.0.0, on SiteGround, I'm seeing

[code]

It may be defaulting to `FileGetContents`, but cmdline param parsing still seems to be off, as it's taking `--web-path` as the param value for `--web` @gordalina?

[2021-09-29 12:33] andyexeter commented on #188
We've been seeing this issue intermittently during deployments.

Our deployment script runs the following after updating a web app's document root symlink:

[code]

I'd say something like 1 time out of every 10, the follow error is thrown:

[code]

PHP and CacheTool versions are:

[code]

I'll try updating CacheTool to the latest version and report back if it happens again.

[2021-11-10 04:59] gordalina commented on #174
@FireLizard did you try @marvinhinz's suggestion? I think you are having  [this issue](https://engineering.facile.it/blog/eng/realpath-cache-is-it-all-php-opcache-s-fault/). Feel free to re-open if it's cachetool's fault.

[2021-11-10 04:59] #174 closed

[2021-11-10 05:33] gordalina commented on #184
@lkraav unfortunately the parameter issue is a Symfony limitation. Glad you you manged to solve it.

[2021-12-10 13:13] tkorcina opened #191 "Deprecated messages on PHP 8.1"
Deprecated messages showing after update to PHP 8.1:

- Deprecated: Return type of CacheTool\Console\Config::offsetExists($offset) should either be compatible with ArrayAccess::offsetExists(mixed $offset): bool, or the #[\ReturnTypeWillChange] attribute should be used to temporarily suppress the notice in /var/www/html/vendor/gordalina/cachetool/src/Console/Config.php on line 36

- Deprecated: Ret

[2021-12-11 00:20] gordalina commented on #191
Fix released in cachetool `8.0.0`

[2021-12-11 00:20] #191 closed

[2021-12-14 05:48] alek-s-andr opened #194 "Composer dependencies require a PHP version ">= 8.0.0""
I have trying run cachetool from deployer tool but latest release throws error:
`[staging]  error  in cachetool.php on line 79:`
`[staging] run cd /home/www/current && /usr/bin/php /home/www/current/cachetool.phar opcache:reset --fcgi=/run/php/php7.4-fpm.sock`
`[staging] err Composer detected issues in your platform:`
`[staging] err Your Composer dependencies require a PHP version ">= 8.0.0". You

[2021-12-14 05:50] #194 closed

[2021-12-14 05:57] alek-s-andr commented on #194
I'm sorry, didn't notice that the latest version only works with php8.0

[2021-12-15 00:25] jamieburchell commented on #194
I ran into this too @alek-s-andr. Took me a while to figure out why all my project deployments fail.

Deployer fetches the latest version, which until recently supported PHP 7.4.

So I ended up manually downloading the 7.x phar in to the project.

Is there a better way? Does support for PHP 7.4 really need to be dropped in the latest cachetool version?

[2021-12-15 00:36] alek-s-andr commented on #194
@jamieburchell
I have added in deploy script next lines (this overrides **bin/cachetool** from [here](https://github.com/deployphp/deployer/blob/master/contrib/cachetool.php#L56)):
[code]
Notice that in curl we specify specific version of cachetool (7.0.0), which will work with **PHP >=7.3** and **<8.0**

[2021-12-15 00:49] alek-s-andr commented on #194
https://github.com/deployphp/deployer/commit/32a63ec9b48fadca8799b2f66c6662248c5e2691
In deployer repository already have changed logic, so my previous approach more no need (for php7.4).

[2021-12-15 10:15] tkorcina opened #195 "PHP 8.1 - after instalation via dockerifle - deprecated messages"
after instalation cachetool via dockerfile (php:8.1-fpm)

`
&& curl --fail -sOL https://gordalina.github.io/cachetool/downloads/cachetool-8.0.2.phar && chmod +x cachetool-8.0.2.phar && mv cachetool-8.0.2.phar /usr/local/bin/cachetool \
`

it shows deprecated messages:

Deprecated: Return type of HumbugBox3100\KevinGH\RequirementChecker\RequirementCollection::getIterator() should either be compatib

[2021-12-16 00:18] gordalina commented on #195
Blocked by https://github.com/box-project/box/pull/578

[2021-12-31 07:48] futureisrise commented on #188
Still have same issue with such config

[code]

[2021-12-31 07:50] futureisrise opened #198 "Php7.4 Stream got blocked, or terminated."
Hi, refering to https://github.com/gordalina/cachetool/issues/188
Still have same issue with such config pool:

[code]

[code]

# php -v
PHP 7.4.27 (cli) (built: Dec 20 2021 21:28:15) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.27, Copyright (c), by Zend Technologies
    with ddtrace v0.67.0, Copyright Datadog, by Datadog

[2021-12-31 07:55] baijingqi commented on #188
okok，this question we have lone  time no see,has been ignored .If we see this question again, we will try  your solution. Thanks a lot.

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2021年12月31日 15:48 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.***>、State ***@***.***> |
| 主题 | Re: [gordalina/cachetool] FastCGI error: Stream got blocked, or terminated (#188) |

Still have same issue with such config

[2022-01-07 12:52] thorewi commented on #195
@gordalina it seems to be already merged...

[2022-01-09 20:33] gordalina commented on #195
Blocked by https://github.com/humbug/php-scoper/issues/539

[2022-01-09 20:35] gordalina commented on #198
Can you provide more information about what's happening in the system? Did you perform a deployment, if so, what does the deployment entail?

[2022-01-09 20:37] gordalina opened #199 "Add ability to retry operations"
Sometimes the network request to FPM fails, we want to be able to  retry these operations.
Could solve for #188, #198

[2022-01-20 06:13] thorewi commented on #198
I just want to say that it happens to me too, probably when old thread is killed because of "pm.max_requests" settings and new thread is started?

[2022-01-20 06:21] thorewi opened #202 "Wouldn't it be better to have in composer.json just PHP version dependancy?"
Hello,

Wouldn't it be better to have in composer.json just PHP version dependancy? And deal with everything else via phar. Similar to https://github.com/phpstan/phpstan.

I would like to install it via composer but sometimes I have dependencies in my project which conflicts with those in cachetool. Then I need to install it via

[code]

but I'm losing PHP version check.

Thank you.

[2022-01-20 19:17] gordalina commented on #202
This is a very good idea!

[2022-01-23 10:36] tobwen opened #204 "[feature request] `stat:realpath_get` should use `localtime` or `UTC`"
## status quo
While `php cachetool.phar opcache:status` shows "human readable" time in the server's local time, `stat:realpath_get` (and maybe others) show unix timestamp.

[code]

## feature request
It would be nice to have all timestamps either printed in _localtime_ (like parsed from `/etc/localtime`) or in _UTC_.

[code]

[2022-01-23 10:57] tobwen commented on #81
Just some cents...

Since you're using _awk_ anyway, go with this:
[code]

Python >= 3.5 needs some additional magic now (`universal_newlines=True`):
[code]

[2022-01-24 16:29] nosrio opened #205 "Cachetool fail when URL has an underscore"
Hi!

When running cachetool using `--web-url=` with an URL with underscore in it, an exception occur. I have found that this behaviour is related to this [PHP bug](https://bugs.php.net/bug.php?id=64948) .
Also i ´ve found a solution in this [stackoverflow post](https://stackoverflow.com/questions/39539468/php-filter-validate-url-not-finding-subdomains-with-underscore).

[code]

Could this fix be a

[2022-01-24 19:02] nosrio commented on #205
Another posible solution (beside the stackoverflow one) is to replace the validation with this code:

[code]

If you think this could work, I could submit a PR with this change.

[2022-01-25 05:35] gordalina commented on #205
Thanks! Released in `7.1.0` and `8.3.0`

[2022-01-25 05:35] #205 closed

[2022-01-25 05:35] gordalina commented on #204
Thanks! Released in `8.3.0`

[2022-01-25 05:35] #204 closed

[2022-01-26 00:55] nosrio commented on #205
Thanx man!

[2022-02-05 12:55] thorewi commented on #195
humbug/php-scoper has new version, so probably problem is already fixed?

[2022-02-17 13:06] beeyev opened #207 "Multiple derprecations in php 8.1"
Hello, first of all, thanks for the great tool, I have been using it for quite a long time.
But it seems that the library needs to be updated in order to work with PHP 8.1
I get these errors:
[code]

Could you please fix that?

[2022-02-22 08:08] thorewi commented on #207
Hi, I think it's duplicated with https://github.com/gordalina/cachetool/issues/195.

[2022-02-22 19:12] gordalina commented on #207
It is, i'll update that ticket. thank you for reporting!

[2022-02-22 19:12] #207 closed

[2022-02-22 19:13] gordalina commented on #195
@thorewi @beeyev can you test this build? https://github.com/gordalina/cachetool/releases/tag/8.3.1-alpha.0

[2022-02-23 07:20] thorewi commented on #195
@gordalina working like a charm! thank you.

[2022-02-23 19:48] gordalina commented on #195
Released in `8.4.0`

[2022-02-23 19:48] #195 closed

[2022-02-25 20:35] thorewi opened #208 "Is there any timeout option?"
Hello,

how long are the requests waiting to get response from php-fpm? Is there any timeout? Is it possible to add any timeout? Thank you.

[2022-02-28 17:33] jonaseberle commented on #199
Yes, also with `--web` it happens that we get `404` because it might be just too fast for some hosters to create the file and access it through the web near-instantaneously.
But on next try or with a little sleep it would work.

[code]

Just retrying the whole command as in
[code]
would not help with that problem because the created cache-busting PHP file changes its URL.

It is currently holding

[2022-03-03 04:29] jonaseberle opened #209 "404 when using --web"
With the `--web` adapter it happens that we get 404 because it might be just too fast for some hosters to create the file and access it through the web near-instantaneously.
I guess this is related to their storage and file system caches, maybe also PHP stat cache?

Current workaround: It will usually succeed after some tries...

./cachetool stat:clear --web=SymfonyHttpClient --web-url=https://...

[2022-03-03 08:09] gordalina commented on #208
The timeout depends on which adapter you're using.
It is possible to add a timeout, feel free to submit a PR for that change!

[2022-03-16 15:33] codegain commented on #202
Hi,

I would like to propose a solution like https://github.com/qossmic/deptrac: There is a seperate repository (https://github.com/qossmic/deptrac-shim) which just contains the .phar file. That way the tool is still installable via composer and is auto-updated via `composer update`. Callable via `vendor/bin/deptrac`

[2022-03-18 15:04] mbrodala commented on #78
I currently need to debug a problem which may or may not be related to opcache and this "feature" was a big red herring. Thus I now went for a simple approach in #211 by dropping it altogether.

[2022-05-11 10:56] bluec opened #212 "FastCGI.php line 114: Error: File not found. (when using configuration file)"
I'm a bit baffled by this.

CacheTool: 8.4.0
PHP: 8.1.5

Running the command with arguments `cachetool opcache:status --fcgi=127.0.0.1:9000` works as expected but as soon as I use a `.cachetool.yml` I always get an error:

[code]

This is my `.cachetool.yml`:

[code]

Without any `.cachetool.yml`:

[code]

With the `.cachetool.yml` as described above:

[code]

[2022-05-16 08:31] PCouaillier commented on #212
Same here with:

[code]

When using "--cli"
[code]

[2022-05-18 08:25] mbrodala commented on #78
@gordalina Can you have a look?

[2022-05-23 06:57] jonaseberle commented on #209
This patch mostly succeeds with executing commands now (`stat:clear` and `opcache:reset`).

Yet our problems (post-symlink-switching-deployment PHP thinks some files are there which are not) remain and are well described by the [linked article by Julien Pauli](http://blog.jpauli.tech/2014-06-30-realpath-cache-html/) in the [README](https://github.com/gordalina/cachetool#cachetool---manage-cache-in

[2022-06-06 07:15] gordalina commented on #212
Can you run with maximum verbosity mode on? What is the file permissions of `.cachetool.yml`?
[code]

[2022-06-06 07:38] gordalina commented on #209
This is very likely.

Can you run the following command and display the results?

[code]

It's not a good idea to deactivate the cache, but for testing you can always set

[code]

[2022-06-06 09:18] bluec commented on #212
Hi,

Without any `.cachetool.yml` this is the output:

[code]

With the following `.cachetool.yml` (it has permissions 0644)...

[code]

... this is the output:

[code]

[2022-06-06 09:33] bluec commented on #212
Seems to be related to the tmp-dir setting...

[code]

If we run with no parameters and instead use a `.cachetool.yml` file for config then...

This works:

[code]

This fails:

[code]

This fails:

[code]

This fails:

[code]

[2022-06-06 09:42] bluec commented on #212
One thing that surfaces from this (aside from the inconsistent tmp_dir vs tmp-dir) is that when the tmp_dir setting is omitted there seems to be inconsistent handling of the default tmp_dir when run with and without a config file...

When run without a config file and no tmp-dir argument then the tmp_dir config is null and it appears to default to /dev/shm. However, when run with a config file tha

[2022-06-06 10:13] PCouaillier commented on #212
Hello,

My original stack trace is the same as bluec.

When I use the `--tmp-dir=/tmp` or  `--tmp-dir=/dev/shm` argument I got this one:

[code]

[2022-06-06 21:26] jonaseberle commented on #209
Thank you.

For the shared hosting in question ([Hetzner Level 19](https://www.hetzner.com/webhosting/level-19)) this shows:

https://gist.github.com/jonaseberle/996d2a7dc930f89b2241bdef9706c3b7

I looked into deactivating the realpath cache: Unfortunately that's not possible on that shared hosting because the `realpath_cache_..` settings are `php.ini` only and only some select values from `php.in

[2022-08-17 16:46] p-golovin opened #213 "Support for monolog/monolog ^3.0"
Is it possible to add support for branch 3 of monolog library?

[2022-09-06 06:22] staabm commented on #202
just came here to also open a similar issue. having a zero dependency cachetool would be perfect.
we use the phpstan and also the deptrac-shim and both work great for us.

to add another example: there is also a php-cs-fixer shim for a few months: https://github.com/PHP-CS-Fixer/shim

[2022-09-07 01:16] gordalina commented on #213
Yes it is, feel free to open up a pull-request!

[2022-10-03 19:42] LocalHeroPro opened #214 "Exclude path not working with absolute path"
[code]

Please add in docs that option HAVE to be used with relative path from <path>.
Thanks!

[2022-10-15 07:24] llaville opened #216 "PHP 8.2: ${var} string interpolation deprecated"
Hello,

I know that PHP 8.2 did not reach stable status yet, but it will be helpfull to remove deprecation messages.
Read more at https://php.watch/versions/8.2/$%7Bvar%7D-string-interpolation-deprecated

With current version  8.4.1 of cachetool I got (for example) with `cachetool opcache:status` command :

[code]

[2022-10-20 20:51] #212 closed

[2022-10-20 20:51] #214 closed

[2022-10-20 20:51] #216 closed

[2022-10-20 21:38] gordalina commented on #216
Released in `v8.5.0`. Thank you!

[2022-10-20 21:39] gordalina commented on #212
Fixed the inconsistency with setting temp dir in `v8.5.0`. Upgrade to the latest version to fix this issue.

[2022-10-20 22:40] #213 closed

[2022-10-25 15:16] staabm opened #217 "apcu regex format validation"
I am wondering about the regex key validation happening in

https://github.com/gordalina/cachetool/blob/c49748f4b3ecb85f77cbab84b0153e4f18c80d79/src/Proxy/ApcuProxy.php#L278

in apcu a key can be any string, see e.g. the examples at https://www.php.net/manual/en/function.apcu-delete.php

why is this kind of format required?
the keys I want to delete by regex don't match this format, so it doesn't

[2022-10-25 15:53] staabm commented on #217
just realized my issue is a existing bug in cachetool 5.x which was fixed as of 6.x with https://github.com/gordalina/cachetool/commit/a6dfbfe1d18f0c5122a6c3fcf01b69d24dff9b54

[2022-10-25 15:53] #217 closed